# Tarea 3
## Análisis de Datos
## Ana Isabel Moreno Hernández 
## NUA: 434232

# **Visualization with Matplotlib**

In [1]:
import numpy as np
import pandas as pd
import requests
import matplotlib.pyplot as plt
import os

Antes que nada, descargamos algunos conjuntos de datos para emplearlos en esta tarea-

In [2]:
# Tasas de años
url = 'https://www.indexmundi.com/map/?t=0&v=25&r=xx&1=en'
html = requests.get(url).content
Birth_rate = pd.read_html(html)[2]
Birth_rate.head()

  Country  Birth rate (births/1,000 population)  Year
0  Angola                                    44  2017
1   Niger                                    44  2017
2    Mali                                    44  2017
3  Uganda                                    43  2017
4  Zambia                                    42  2017

In [3]:
# Tasa de desempleo 
url = 'https://www.indexmundi.com/map/?t=0&v=74&r=xx&l=en'
html = requests.get(url).content
unemployement = pd.read_html(html)[2]
unemployement.head()

        Country  Unemployment rate (%)  Year
0      Zimbabwe                     95  2009
1  Burkina Faso                     77  2004
2      Djibouti                     60  2014
3         Syria                     50  2017
4       Senegal                     48  2007

In [31]:
# Número de manchas solares por año
anios = []
manchas = []
for i in range(5):
    sunspots = np.loadtxt('sunspots.txt', dtype=[('anio',int),('Numero',float)], usecols = (i*2,i*2+1), unpack = True)
    anios = np.concatenate((anios,sunspots[0]),axis=0)
    manchas = np.concatenate((manchas,sunspots[1]),axis=0)

In [34]:
# Datos de temperatura y precipitación
temp_minima_2019 = pd.read_csv('temp_minima_2019.csv', encoding='latin-1')
temp_media_2019 = pd.read_csv('temp_media_2019.csv', encoding='latin-1')
temp_maxima_2019 = pd.read_csv('temp_maxima_2019.csv', encoding='latin-1')
lluvias_2019 = pd.read_csv('lluvias_2019.csv', encoding='latin-1')

temp_minima_2018 = pd.read_csv('temp_minima_2018.csv',encoding='latin-1')
temp_media_2018 = pd.read_csv('temp_media_2018.csv',encoding='latin-1')
temp_maxima_2018 = pd.read_csv('temp_maxima_2018.csv',encoding='latin-1')
lluvias_2018 = pd.read_csv('lluvias_2018.csv',encoding='latin-1')

In [36]:
temp_minima_2018.head()

      Lon    Lat  Clave    Edo                                  Est  Tmin
0 -101.51  20.43  ABSGJ    GTO                              ABASOLO   7.5
1  -98.38  24.06  ABSTP  TAMPS                              ABASOLO   7.9
2 -116.90  32.44  ALRBN     BC                ABELARDO L. RODRIGUEZ  10.2
3  -97.97  20.17  ACJPB    PUE  ACAJETE                           *   2.4
4  -92.80  16.55  ACACP   CHIS                                ACALA  13.9

## **Simple line plots**